@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-button-color: #2196F3;
    --text-color: #212121;
    --text-p-color: #757575;
    --background-section-color: #2F303A;
    --background-team-color: #F5F4FA;
    --title-text-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --header-background-color: #ECECEC;
    --background-all-portfolio-color: #EEEEEE;
    --span-logo-color: #2196F3;
    --hover-color: #2196F3;
    --portfolio-button-color: #F5F4FA;
    --stroke-color: #EEEEEE;
    --icons-background-color: #AFB1B8;
    --textarea-background-color: rgba(117, 117, 117, 1);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --footer-reference-background-color: rgba(255, 255, 255, 0.1);
    --brief-item-hover-color: rgba(0, 0, 0, 0.16);
    --team-shadow-color: rgba(0, 0, 0, 0.2);
    --modal-close-border-color: rgba(0, 0, 0, 0.1);
    --backdrop-bg-color: rgba(0, 0, 0, 0.1);
    --body-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --activity-text-bg: rgba(47, 48, 58, 0.8);
}

body {
    font-family: var(--body-font);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header-list a:hover {
    color: var(--hover-color);
}

.header-item {
    position: relative;
}

.header-item:nth-child(1) .header-link::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}

.header-item:nth-child(2) .header-link:hover::after {
    content: "";
    width: 78px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}

.header-item:nth-child(3) .header-link:hover::after {
    content: "";
    width: 68px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}


.header-item:nth-child(2) .header-link::after {
    content: "";
    width: 78px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.header-item:nth-child(3) .header-link::after {
    content: "";
    width: 68px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.header-reference:hover {
    color: var(--hover-color);
}

.header-item:nth-child(1) .header-link {
    color: var(--hover-color);
}

.header-element:nth-child(1):hover .header-icon {
    fill: var(--hover-color);
}
.header-element:nth-child(2):hover .header-icon {
    fill: var(--hover-color);
}

.header-element:nth-child(1) .header-icon {
    width: 16px;
    height: 12px;
    fill: var(--text-p-color);
    transition: fill 250ms ease;
}

.header-element:nth-child(2) .header-icon {
    width: 10px;
    height: 16px;
    fill: var(--text-p-color);
    transition: fill 250ms ease;
}

.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.header-span {
    color: var(--span-logo-color);
    animation: colorspan 2s infinite alternate;
}



@keyframes colorlogo {
    0% {
        color: var(--text-color);
    }

    100% {
        color: var(--span-logo-color);
    }
}

@keyframes colorspan {
    0% {
        color: var(--span-logo-color);
    }

    100% {
        color: var(--text-color);
    }
}



.header-list {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.header-list a {
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.06em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.header-roster a { 
    font-weight: 500;
    display: flex;
    gap: 10px;
    color: var(--text-p-color);
    letter-spacing: 0.06em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}



.header-wrapper {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.header-roster {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.header-text {
    color:var(--text-color);
    font-weight: 700;
    font-family: var(--logo-font);
    font-size: 26px;
    padding-right: 93px;
    animation: colorlogo 2s infinite alternate;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.buttons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.buttons {
    padding-top: 94px;
}


.buttons-btn {
    padding: 6px 25px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-family: var(--body-font);
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.03em;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}


.buttons-btn:hover {
    background-color: var(--hover-color);
    color: var(--title-text-color);
}


.brief {
    padding-bottom: 94px;
    padding-top: 50px;
}


.brief-item {
    font-family: var(--body-font);
    border: 1px solid var(--background-all-portfolio-color);
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    z-index: 2;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.brief-item:hover {
    box-shadow: 1px 4px 6px 0 var(--brief-item-hover-color);
}

.brief-title {
    color: var(--text-color);
    font-size: 18px;
    margin-top: 20px;
    padding-left: 24px;
    line-height: 36px;
    font-weight: 700;
    font-family: var(--body-font);
    letter-spacing: 0.06em;
}

.brief-desc {
    color: var(--text-p-color);
    font-size: 16px;
    padding-top: 4px;
    padding-left: 24px;
    padding-bottom: 20px;
    font-weight: 400;
    font-family: var(--body-font);
    letter-spacing: 0.03em;
    line-height: 30px;
}


.brief-overlay_text {
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    color: white;
    padding: 63px 23px;
}

.brief-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    background-color: var(--hover-color);
    opacity: 0;
    margin: 0;
    transform: translateY(100%);
    transition-timing-function: ease;
    transition-property: transform;
    transition-duration: 500ms;
}

.brief-item:hover .brief-overlay {
    opacity: 0.9;
    transform: translateY(0);
}



.brief-image {
    width: 100%;
    height: 294px;
}

.brief-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
}

.footer {
    background-color: var(--background-section-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-span {
    color: var(--span-logo-color);
    font-family: var(--logo-font);
}

.footer-text {
    color: var(--title-text-color);
    margin-bottom: 20px;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    
    
}


.footer-item:nth-child(2) {
    padding-top:8px;
    padding-bottom:8px;
}

.footer-link {
    color: var(--text-p-color);
    line-height: 24px;
}


.footer-superscription {
    color: var(--title-text-color);
    line-height: 24px;
}

.footer-title {
    color: var(--title-text-color);
    
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.footer-roster {
    display: flex;
    gap: 10px;
}

.footer-icon {
    width: 20px;
    height: 20px;
    fill: white;
}

.footer-reference {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--footer-reference-background-color) ;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    animation: none;
}

.footer-reference:hover {
    background-color: var(--hover-color);
    animation: bgcolor 1s infinite alternate;
}

@keyframes bgcolor {
    0% {
        background-color: var(--hover-color);
    }

    100% {
        background-color: rgb(13, 106, 194);
    }
}


.footer .container {
    display: flex;
}

.footer-wrapper:nth-child(2) {
    padding-left: 94px;
}
