@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-button-color:#2196F3;
    --text-color:#212121;
    --text-p-color:#757575;
    --background-section-color:#2F303A;
    --background-team-color:#F5F4FA;
    --title-text-color:#FFFFFF;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --header-background-color:#ECECEC;
    --background-all-portfolio-color:#EEEEEE;
    --span-logo-color:#2196F3;
    --hover-color:#2196F3;
    --portfolio-button-color:#F5F4FA;
    --stroke-color:#EEEEEE;
    --body-font:'Roboto',sans-serif;
    --logo-font:'Raleway'.sans-serif;
}


body {
    font-family:var(--body-font);
}

.container {
    width:1170px; 
    margin: 0 auto;
}

.header-list a:hover {
    color: var(--hover-color);
}

.header-roster a:hover {
    color: var(--hover-color);
}


.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-span {
    color: var(--span-logo-color);
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.header-list a {
    color: var(--text-color);
    font-weight: 550;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.header-roster a {
    color: var(--text-p-color);
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 550;
    
}

.header-wrapper {
    justify-content: space-between;
    display: flex;
}

.header-roster {
    display: flex;
    flex-direction: row;
    margin-left: 346px;
    gap: 52px;
}

.header-text {
    color: black;
    font-weight: 650;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-title { 
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    font-weight: 900;
    color: white;
    font-family: "Roboto",sans-serif;
    padding-bottom: 30px;
}

.service {
    padding-bottom: 200px;
    padding-top:200px
}

.service-button {
    padding: 17px 32px;
    background-color: var(--background-button-color);
    border: none;
    border-radius: 3px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    font-family: "Roboto",sans-serif;
}

.service {
    text-align: center;
}

.service::before {
    width:100%;
    height: 100%;
    display: block;
    content: "";
    background-image: url("./image/service_background.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.buttons{
    padding-top: 94px;
    padding-bottom: 50px;
}

.details {    
    padding-top: 94px;
    padding-bottom: 94px;
}

.details-list {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto',sans-serif;
    justify-content: center;
    gap: 35px;
}

.details-subtitle {
    font-weight:600;
    color: var(--text-color);
}

.details-desc {
    font-size:13px;
    padding-top: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: var(--text-p-color);
    line-height: 1.5;
}



.details-item::before{
    content: "";       
    display: inline-block;
    background-image: url("./image/antenna.jpg"); 
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-team-color);
    margin-bottom: 30px;
    background-color: #757575;
}


.activity {
    padding-bottom: 94px;
}


.activity-title {
    font-size: 38px;
    letter-spacing: 0.2;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom: 58px;
    color: var(--text-color);
}


.activity-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activity-img {
    width:370px;
    height:294px;
}


.team {
    background-color: var(--background-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
}


.team-title {
    text-align: center;
    padding-bottom: 53px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
    color: var(--text-color);
}

.team-subtitle {
    padding-top: 30px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'Roboto',sans-serif;
}

.team-desc {
    color: var(--text-p-color);
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    padding-bottom: 30px;
}


.team-item {
    background-color: white;
    text-align: center;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.team-img  {
    width: 270px;
    height: 260px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
}

.footer {
    background-color: var(--background-section-color);
    display: flex;
    align-items:start;
    font-family: 'Roboto',sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-span {
    color: var(--span-logo-color);
    font-family: 'Raleway',sans-serif;
}

.footer-text {
    color: white;
    margin-bottom: 16px;
    font-family: 'Raleway',sans-serif;
    font-weight: 650;
    font-size: 20px;
}


.footer-list {
    font-size:13px;
}

.footer-item:nth-child(2) {
    padding-top:8px;
    padding-bottom:8px;
}

.footer-link {
    color: var(--text-p-color);
}


.footer-superscription {
    color: white;
}



.buttons_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}


.buttons_btn {
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    line-height: 26px;
}


.buttons_btn:hover {
    background-color:var(--hover-color);
    color: white;
}


.brief {
    padding-bottom: 94px;
}


.brief-item {
    font-family: 'Roboto',sans-serif;
    border: 1px solid var(--stroke-color);
    height: 404px;
    width: 370px;
    flex-basis: calc((100% - 60px)/3);
}

.brief-item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.brief-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 14px;
}

.brief-desc {
    color: var(--text-p-color);
    font-size: 16px;
    padding-top:20px;
    padding-left: 14px;
}



.brief_image {
    width: 370px;
    height: 294px;
}

.brief_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
}

