@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-button-color:#2196F3;
    --text-color:#212121;
    --text-p-color:#757575;
    --background-section-color:#2F303A;
    --background-team-color:#F5F4FA;
    --title-text-color:#FFFFFF;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --header-background-color:#ECECEC;
    --background-all-portfolio-color:#EEEEEE;
    --span-logo-color:#2196F3;
    --hover-color:#2196F3;
    --portfolio-button-color:#F5F4FA;
    --stroke-color:#EEEEEE;
    --icons-background-color:#AFB1B8;
    --textarea-background-color:rgba(117, 117, 117, 1);
    --input-border-color:rgba(33, 33, 33, 0.2);
    --footer-reference-background-color:rgba(255, 255, 255, 0.1);
    --brief-item-hover-color:rgba(0, 0, 0, 0.16);
    --team-shadow-color:rgba(0, 0, 0, 0.2);
    --modal-close-border-color:rgba(0, 0, 0, 0.1);
    --backdrop-bg-color:rgba(0, 0, 0, 0.1);
    --body-font:'Roboto',sans-serif;
    --logo-font:'Raleway',sans-serif;
    --activity-text-bg:rgba(47, 48, 58, 0.8);
}


body {
    font-family:var(--body-font);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    width:1170px; 
    margin: 0 auto;
}

.header-list a:hover {
    color: var(--hover-color);
}

.header-item {
    position: relative;
}

.header-item:nth-child(1) .header-link::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}

.header-item:nth-child(2) .header-link:hover::after {
    content: "";
    width: 78px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}

.header-item:nth-child(3) .header-link:hover::after {
    content: "";
    width: 68px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}


.header-item:nth-child(2) .header-link::after {
    content: "";
    width: 78px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.header-item:nth-child(3) .header-link::after {
    content: "";
    width: 68px;
    height: 4px;
    background-color: var(--hover-color);
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.header-reference:hover {
    color: var(--hover-color);
}

.header-item:nth-child(1) .header-link {
    color: var(--hover-color);
}

.header-element:nth-child(1):hover .header-icon {
    fill: var(--hover-color);
}
.header-element:nth-child(2):hover .header-icon {
    fill: var(--hover-color);
}

.header-element:nth-child(1) .header-icon {
    width: 16px;
    height: 12px;
    fill: var(--text-p-color);
    transition: fill 250ms ease;
}

.header-element:nth-child(2) .header-icon {
    width: 10px;
    height: 16px;
    fill: var(--text-p-color);
    transition: fill 250ms ease;
}

.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.header-span {
    color: var(--span-logo-color);
    animation: colorspan 2s infinite alternate;
}



@keyframes colorlogo {
    0% {
        color: var(--text-color);
    }

    100% {
        color: var(--span-logo-color);
    }
}

@keyframes colorspan {
    0% {
        color: var(--span-logo-color);
    }

    100% {
        color: var(--text-color);
    }
}



.header-list {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.header-list a {
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.06em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.header-roster a { 
    font-weight: 500;
    display: flex;
    gap: 10px;
    color: var(--text-p-color);
    letter-spacing: 0.06em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}



.header-wrapper {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.header-roster {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.header-text {
    color:var(--text-color);
    font-weight: 700;
    font-family: var(--logo-font);
    font-size: 26px;
    padding-right: 93px;
    animation: colorlogo 2s infinite alternate;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.service-title { 
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    font-weight: 900;
    color: var(--title-text-color);
    padding-bottom: 30px;
}


.service-button {
    padding: 10px 32px;
    background-color: var(--background-button-color);
    border: none;
    border-radius: 3px;
    font-weight: 700;
    color: var(--title-text-color);
    letter-spacing: 0.06em;
    line-height: 30px;
    font-size: 16px;
    animation: pulse 3s infinite;
}

.service-button:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.service {
    text-align: center;
    background-image: url(../image/service_background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    padding-top:200px
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bg-color);
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
    z-index: 2;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 15px;
    background-color: var(--title-text-color);
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close_btn {
    float: right;
    border: 1px solid var(--modal-close-border-color);
    border-radius: 50%;
    padding: 6px;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    padding-top: 40px;
    letter-spacing: 1px;
    padding-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 20px;
}

.modal-label {
    color: var(--textarea-background-color);
    font-size: 12px;
    padding-bottom: 4px;
    padding-top: 10px;
}

.modal-input {
    width: 448px;
    height: 40px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.modal-input:focus {
    border: 1px solid var(--hover-color);
}

.modal-textarea:focus {
    border: 1px solid var(--hover-color);
}

.modal-label::before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../image/symbol-defs.svg#icon-person);
    background-size: 18px;
    background-repeat: no-repeat;
}

.modal-lab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.modal-textarea {
    width:448px;
    height:120px;
    color: var(--textarea-background-color);
    font-size: 12px;
    padding-left: 16px;
    padding-top: 13px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.modal-btn {
    padding: 10px 52px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: var(--title-text-color);
    background-color: var(--background-button-color);
    line-height: 30px;
    letter-spacing: 1px;
    border-radius: 4px;
}

.modal-span {
    text-decoration: underline;
    color: var(--background-button-color);
}

.modal-forma {
    line-height: 24px;
    padding-top:20px;
    padding-bottom:30px;
    color: var(--text-p-color);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}


.modal-wrapper {
    display: flex;
    align-items: center;
}


.details {    
    padding-top: 94px;
    padding-bottom: 94px;
}

.details-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.details-subtitle {
    font-weight:700;
    color: var(--text-color);
}

.details-desc {
    font-size:14px;
    padding-top: 10px;
    color: var(--text-p-color);
    line-height: 24px;
}



.details-item:nth-child(1)::before{
    content: "";       
    display: inline-block;
    background-image: url(../image/antenna.png); 
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--portfolio-button-color);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}
.details-item:nth-child(2)::before {
    content: "";
    display: inline-block;
    background-image: url(../image/clock.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--portfolio-button-color);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}
.details-item:nth-child(3)::before {
    content: "";
    display: inline-block;
    background-image: url(../image/diagram.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--portfolio-button-color);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}
.details-item:nth-child(4)::before {
    content: "";
    display: inline-block;
    background-image: url(../image/astronaut.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--portfolio-button-color);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}


.activity {
    padding-bottom: 94px;
}

.activity-item {
    position: relative;
}

.activity-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    color: var(--text-color);
}

.activity-text {
    padding: 27px 94px;
    background-color: var(--activity-text-bg);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-text-color);
    position: absolute;
    bottom: 1px;
    width: 370px;
    height: 70px;
    text-align: center;
}



.activity-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activity-img {
    width:370px;
    height:294px;
    display: block;
}


.team {
    background-color: var(--background-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    text-align: center;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color);
}

.team-subtitle {
    padding-top: 30px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.team-desc {
    color: var(--text-p-color);
    font-size: 16px;
    padding-bottom: 16px;
}


.team-item {
    background-color: var(--title-text-color);
    text-align: center;
    box-shadow: 0px 2px 1px 0px var(--team-shadow-color);
    border-radius: 4px;
}

.team-img  {
    width: 270px;
    height: 260px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
}

.team-roster {
    display: flex;
    justify-content: center;
    gap:10px;
    padding-bottom: 30px;
}

.team-icon {
    width:20px;
    height: 20px;
    fill: var(--icons-background-color);
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.team-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    border-radius: 50%;
}

.team-link:hover {
    border-radius: 50%;
    background-color: var(--hover-color);
}
.team-link:hover .team-icon {
    fill: var(--title-text-color);
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
    
    font-weight: 700;
}


.clients-icon {
    fill: var(--icons-background-color);
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients-item:nth-child(1) .clients-icon {
    width: 41px;
    height: 47px;
}
.clients-item:nth-child(2) .clients-icon {
    width: 40px;
    height: 52px;
}
.clients-item:nth-child(3) .clients-icon {
    width: 44px;
    height: 42px;
}
.clients-item:nth-child(4) .clients-icon {
    width: 85px;
    height: 41px;
}
.clients-item:nth-child(5) .clients-icon {
    width: 63px;
    height: 46px;
}
.clients-item:nth-child(6) .clients-icon {
    width: 94px;
    height: 44px;
}

.clients-item:nth-child(1) .clients-link {
    padding: 23px 65px;
}

.clients-item:nth-child(2) .clients-link {
    padding: 21px 65px 19px;
}

.clients-item:nth-child(3) .clients-link {
    padding: 25px 65px 26px 62px;
}

.clients-item:nth-child(4) .clients-link {
    padding: 25px 43px 27px;
}

.clients-item:nth-child(5) .clients-link {
    padding: 23px 54px 24px;
}

.clients-item:nth-child(6) .clients-link {
    padding: 23px 38px 25px;
}

.clients-link:hover .clients-icon {
    fill: var(--hover-color);
}
.clients-item:hover {
    border-color:var(--hover-color);
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-link {
    border: 1px solid var(--icons-background-color);
    border-radius: 4px;
    display: block;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients-link:hover {
    border-color: var(--hover-color);
}


.footer {
    background-color: var(--background-section-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-span {
    color: var(--span-logo-color);
    font-family: var(--logo-font);
}

.footer-text {
    color: var(--title-text-color);
    margin-bottom: 20px;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    
    
}


.footer-item:nth-child(2) {
    padding-top:8px;
    padding-bottom:8px;
}

.footer-link {
    color: var(--text-p-color);
    line-height: 24px;
}


.footer-superscription {
    color: var(--title-text-color);
    line-height: 24px;
}

.footer-title {
    color: var(--title-text-color);
    
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.footer-roster {
    display: flex;
    gap: 10px;
}

.footer-icon {
    width: 20px;
    height: 20px;
    fill: white;
}

.footer-reference {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--footer-reference-background-color) ;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    animation: none;
}

.footer-reference:hover {
    background-color: var(--hover-color);
    animation: bgcolor 1s infinite alternate;
}

@keyframes bgcolor {
    0% {
        background-color: var(--hover-color);
    }

    100% {
        background-color: rgb(13, 106, 194);
    }
}


.footer .container {
    display: flex;
}

.footer-wrapper:nth-child(2) {
    padding-left: 94px;
}


