:root {
    --background-button-color:#2196F3;
    --text-color:#212121;
    --text_p-color:#757575;
    --background-section-color:#2F303A;
    --background-team-color:#F5F4FA;
    --title-text-color:#FFFFFF;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --header--background-color:#ECECEC;
}