
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family:'Roboto';
}

span {
    color:dodgerblue;
}

.menu a:hover {
    color: dodgerblue;
}

.navig {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-right: 30px;
}

.con a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-right: 25px;
}
.con a:hover {
    color: dodgerblue;
}

.menu {
    padding-right: 100px;
}

.con p, a {
    padding-left:20px;
    font-size: 14px;
}

.con {
    display: flex;
    align-items: center;
}

.num1 {
    padding-top: 280px;
    padding-bottom: 280px;
    text-align: center;
    align-items: center;
    background-color: #2F303A;
}
.num1 button {
    width:216px ;
    height: 50px;
    background-color: #2196F3;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    color: white;
}



.num1 h1 {
    font-size: 44px;
    color: white;
}

.num2 {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom:94px;
    
}

.num2 h3 {
    font-size: 14px;
}
.num2 p {
    font-size: 14px;
    color:#757575 ;
} 

.pad1 {
    padding-left: 50px;
}

.pad2 {
    padding-right: 50px;
}

.num3 h2 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}
.num3 img {
    width: 370px;
    height:294px ;
}

.img {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 50px;
}
.num3 {
    padding-bottom: 94px;
}
.imgp2 {
    padding-right:50px ;
}

.artp {
    color:#757575 ;
}

.divv img {
    width: 260px;
    height: 260px;
}

.divv {
    display: flex;
    justify-content: space-between;
    padding-right: 52px;
    font-size: 16px;
    list-style: none;
    gap: 30px;
}

.divv h6 {
    font-size: 16px;
}

.num4 h2 {
    text-align: center;
    font-size:36px ;
    padding-top: 94px;
}

.divv article {
    text-align: center;
}

.num4 {
    padding-bottom:94px;
    background-color: #F5F4FA;
    align-items: center;
}


.logo2 {
    font-size: 26px;
    color: white;
    font-family: "Raleway";
}

.p1 {
    font-size: 14px;
    color: white;
}

footer p {
    font-size: 14px;
    color: #FFFFFF99 ;
    
}

footer {
    background-color:#2F303A ;
    padding-top:30px ;
    padding-bottom: 30px;
    text-align: left;
}
footer a {
    text-decoration: none;
}
footer p {
    padding-left: 60px;
}

.logo1 {
    padding-left: 120px;
    font-size: 26px;
    font-family: "Raleway";
    color: black;
    text-decoration: none;
}



.ul3 {
    list-style: none;
    display: flex;
    gap: 30px;
}

.ul1 {
    padding-left: 85px;
    list-style: none;
    display: flex;
    gap: 30px;
}

ul {
        list-style: none;
}

.li {
    text-align: center;
}

.logo2 {
    font-size: 26px;
    font-family: "Raleway";
    color: white;
    text-decoration: none;
    padding-left: 57px;
}

.ull a {
    color: #757575;
    padding-bottom: 10xp;
}
.ula {
    display: flex;
}